@import "~@/assets/scss/theme.scss";

.artist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  align-items: start;

  @media (max-width: $tablet-bp) {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  &-img {
    position: relative;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.16));
    border-radius: 46px;

    @media (max-width: $tablet-bp) {

    }

    img {
      width: 100%;
    }

    a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 24px;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: $purple-highlight;

      @media (max-width: $tablet-bp) {

      }
    }
  }

  &-wrapper {
    padding: 100px 0;

    @media (max-width: $tablet-bp) {
      padding: 72px 0;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    position: relative;

    &__heading {
      align-self: flex-start;
      display: flex;
      align-items: center;
      margin-bottom: 48px;
      font-weight: 900;
      font-size: 32px;
      line-height: 137.4%;
      font-family: Orbitron, sans-serif;
      color: $purple-highlight;
      position: relative;

      @media (max-width: $tablet-bp) {
        align-self: center;
        font-size: 24px;
      }

      img {
        position: absolute;
        right: -54px;
        transform: translateX(100%);

        @media (max-width: $tablet-bp) {
          width: 39px;
          height: 39px;
          top: 17px;
        }
      }
    }

    &__description {
      font-size: 24px;
      line-height: 170%;
      font-weight: 600;

      @media (max-width: $tablet-bp) {
        font-size: 16px;
      }

      strong {
        font-family: Orbitron, sans-serif;
        font-weight: 900;
      }
    }

    &__star-img {
      margin-left: 48px;

      @media (max-width: $tablet-bp) {

      }
    }
  }
}