@import "~@/assets/scss/theme.scss";

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 10;
  }

  &-menu {
    display: flex;
    &__item {

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        color: $purple-highlight;
      }
    }
  }
}